{% extends "layout.html" %}

{% block content %}

<!-- Add Single Host -->
<section class="hero-body">
    <div class="container">
        <p class="title">Add Hosts</p>
        <form method="POST" action="{{ url_for('hosts.add_hosts') }}">
            <div class="field">
                <div class="control">
                    <textarea class="textarea is-medium" rows="10" placeholder="IP Addresses" name="ip" autofocus="" required></textarea>
                </div>
                <p class="help">One IP address per line</p>
            </div>
            <div class="control">
                <button class="button is-info is-medium">Add</button>
            </div>
        </form>
    </div>
</section>

{% endblock %}