<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/static/css/bulmaswatch.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/datatables.css" />
    <script type="text/javascript" src="/static/javascript/jquery.js"></script>
    <script type="text/javascript" src="/static/javascript/datatables.js"></script>
    <script type="text/javascript" defer src="/static/fontawesome/js/all.js"></script>

    <title>IPMON</title>

    <style>
        table {
            width: 100% !important;
        }

        .fullscreen {
            position: fixed;
            width: 100vw;
            height: 100vh;
            left: 0;
            top: 0;
            background: #fff;
            z-index: 30;
            overflow-y: auto;
        }
    </style>
</head>

<body>
    <!-- Header -->
    <section class="hero is-primary is-medium">
        <div class="hero-head">
            <nav class="navbar">
                <div class="container">
                    <div class="navbar-brand">
                        <a href="{{ url_for('main.index') }}" class="navbar-item is-size-3 has-text-white">
                            IPMON&nbsp;<i class="fas fa-network-wired has-text-success"></i>
                        </a>
                        <span class="navbar-burger burger" data-target="navbarMenuHeroA">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                    </div>
                    <div id="navbarMenuHeroA" class="navbar-menu">
                        <div class="navbar-end">
                            {% if current_user.is_authenticated %}
                            <a href="{{ url_for('auth.account') }}" class="navbar-item">
                                <i class="fas fa-user"></i>&nbsp;&nbsp;{{current_user.id}}
                            </a>
                            {% else %}
                            <a href="{{ url_for('auth.login') }}" class="navbar-item">
                                Log in
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
        </div>
        </div>
        </nav>
        </div>
    </section>

    <!-- Main Content -->
    <section class="hero">
        <div class="hero-body">
            <div class="container">
                <div class="columns">

                    {% if current_user.is_authenticated %}
                    <!-- Side Nav -->
                    <div class="column is-2">
                        <aside class="menu is-inline-block">
                            <p class="menu-label">
                                General
                            </p>
                            <ul class="menu-list">
                                <li><a href="{{ url_for('main.index') }}">Home</a></li>
                                <li><a href="{{ url_for('auth.account') }}">Account</a></li>
                            </ul>
                            <p class="menu-label">
                                Configure
                            </p>
                            <ul class="menu-list">
                                <li><a href="{{ url_for('main.add_hosts') }}">Add Hosts</a></li>
                                <li><a href="{{ url_for('main.delete_hosts') }}">Delete Hosts</a></li>
                            </ul>
                            <p class="menu-label">
                                Polling
                            </p>
                            <ul class="menu-list">
                                <li><a href="{{ url_for('main.configure_polling') }}">Polling Interval</a></li>
                            </ul>
                            <p class="menu-label">
                                Notifications
                            </p>
                            <ul class="menu-list">
                                <li><a href="{{ url_for('smtp.smtp_config') }}">Configure SMTP</a></li>
                                <li><a>Add Recipients</a></li>
                                <li><a>Remove Recipients</a></li>
                            </ul>
                            <!-- <p class="menu-label">
                                Users
                            </p>
                            <ul class="menu-list">
                                <li><a>Add User</a></li>
                                <li><a>Remove User</a></li>
                            </ul> -->
                        </aside>
                    </div>
                    {% endif %}

                    <!-- Block Content -->
                    <div class="column">
                        {% block content %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="footer is-fixed-bottom">
        <div class="content has-text-centered">
            <p>
                <strong>IPMON</strong> by <a href="https://github.com/mistergates">Mitch Gates</a>.&nbsp;
                Source code is licensed <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
            </p>
            <div class="buttons is-centered">
                <a href="https://github.com/mistergates/ipmon" target="_blank">
                    <button class="button is-medium is-outlined">
                        <span class="icon">
                            <i class="fab fa-github"></i>
                        </span>
                    </button>
                </a>
            </div>
        </div>
    </footer>

    <!-- Modal -->
    <div class="modal" id="modal-container">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title" id="modal-title">
                    <!-- Title -->
                </p>
                <button class="delete" aria-label="close" id="close-modal"></button>
            </header>
            <section class="modal-card-body" id="modal-body">
                <!-- Body -->
            </section>
            <footer class="modal-card-foot" id="modal-footer">
                <!-- Footer -->
            </footer>
        </div>
    </div>

</body>

<script>
    document.addEventListener('DOMContentLoaded', () => {

        // Get all "navbar-burger" elements
        const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

        // Check if there are any navbar burgers
        if ($navbarBurgers.length > 0) {

            // Add a click event on each of them
            $navbarBurgers.forEach(el => {
                el.addEventListener('click', () => {

                    // Get the target from the "data-target" attribute
                    const target = el.dataset.target;
                    const $target = document.getElementById(target);

                    // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                    el.classList.toggle('is-active');
                    $target.classList.toggle('is-active');

                });
            });
        }

    });

    // Modal Controls
    function clear_modal() {
        $("#modal-title").empty()
        $("#modal-body").empty()
        $("#modal-footer").empty()
    }

    function show_modal() {
        $("#modal-container").addClass('is-active');
    }

    function add_modal_content(title, body, footer) {
        $("#modal-title").append(title);
        $("#modal-body").append(body);
        $("#modal-footer").append(footer);
    }

    $("#close-modal").click(function () {
        $("#modal-container").removeClass('is-active');
        clear_modal();
    });

</script>

</html>